.login-container {
    height: auto;
    min-height: 100vh;
    padding: 40px 0 20px 0;
    background: var(--principal);
}

.email-form {
    display: block;
}

.button {
    display: block;
    margin: 20px auto 0 auto;
}