
.item-content {
    margin: 10px;
    text-decoration: none;
    color: #595959;
    font-family: sans-serif;
    box-shadow: 2px 3px 10px #a3a3a3;
    border-radius: 5px;
    padding: 10px 10px;
    box-sizing: border-box;
}
