.home-container {
    height: auto;
    min-height: 100vh;
    padding: 40px 0 20px 0;
    background: var(--principal);
}

.content {
    max-width: var(--max-width);
    margin: 0 auto;
}

.title-container {
    max-width: 350px;
    margin: 0 auto 50px auto;
}

.subtitle-container {
    max-width: 350px;
    margin: 0 auto 20px auto;
}

.button {
    margin:  auto;
    display: block;
}

.button2 {
    margin: 10px auto 0 auto;
    display: block;
}
