.search-form_label {
    max-width: 350px;
    width: 100%;
    color: var(--dark);
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    margin: 0 auto;
}

.search-form_text-area {
    display: block;
    max-width: 350px;
    width: 100%;
    height: 130px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 2px solid var(--black);
    padding: 0 0 0 15px;
}