.near-by-container {
    height: auto;
    min-height: 100vh;
    background: var(--principal);
    padding: 40px 0 30px 0;
}

.content {
    max-width: var(--max-width);
    margin: 0 auto;
}

.title {
    max-width: 350px;
    margin: 0 auto 50px auto;
}
